::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #161414;
}

::-webkit-scrollbar-thumb {
  background: #2E2A2A;
}

::-webkit-scrollbar-thumb:hover {
  background: #3E3A3A;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #2E2A2A #161414;
}
